backend/public/interactions/
backend/public/transitions/
backend/public/plots/
backend/public/timeseries/
backend/public/barplots/
backend/backend/settings.py
backend/backend/__pycache__/
backend/functions/__pycache__/
backend/functions/migrations/__pycache__/
backend/functions/playground.ipynb
backend/functions/.ipynb_checkpoints/playground-checkpoint.ipynb
